@media (max-width:768px) {
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoiirv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 44px;
    height: 44px;
    flex-direction: column
  }
  .style199 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style200 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoijof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 44px;
    height: 44px;
    flex-direction: column
  }
  .style288 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style289 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoik9e.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 44px;
    height: 44px;
    flex-direction: column
  }
  .style488 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style489 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoila0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 44px;
    height: 44px;
    flex-direction: column
  }
  .style577 {
    background-color: #fff;
    width: 0;
    height: 0
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoiirv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 90px;
    height: 90px;
    flex-direction: column
  }
  .style199 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style200 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoijof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 90px;
    height: 90px;
    flex-direction: column
  }
  .style288 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style289 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoik9e.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 90px;
    height: 90px;
    flex-direction: column
  }
  .style488 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style489 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoila0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 90px;
    height: 90px;
    flex-direction: column
  }
  .style577 {
    background-color: #fff;
    width: 0;
    height: 0
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoiirv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 108px;
    height: 108px;
    flex-direction: column
  }
  .style199 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style200 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoijof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 108px;
    height: 108px;
    flex-direction: column
  }
  .style288 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style289 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoik9e.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 108px;
    height: 108px;
    flex-direction: column
  }
  .style488 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style489 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoila0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 108px;
    height: 108px;
    flex-direction: column
  }
  .style577 {
    background-color: #fff;
    width: 0;
    height: 0
  }
}
@media (min-width:1200px) {
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoiirv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 141px;
    height: 141px;
    flex-direction: column
  }
  .style199 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style200 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoijof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 141px;
    height: 141px;
    flex-direction: column
  }
  .style288 {
    background-color: #000;
    width: 0;
    height: 0
  }
  .style289 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoik9e.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 141px;
    height: 141px;
    flex-direction: column
  }
  .style488 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style489 {
    background-image: url(https://designresources.assets.yotako.io/9lhg8a6kjpcoila0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 141px;
    height: 141px;
    flex-direction: column
  }
  .style577 {
    background-color: #fff;
    width: 0;
    height: 0
  }
}